*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.hero{
    height: 100vh; 
    display: flex;
    align-items: center; 
    padding-left: 8%;
}

.hero-text h1{
    font-size: 15rem; /* prénom */
    font-weight: bold;
}

.hero-text h2{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 5px;
}


/* SECTION a propo */
.about{
    min-height: 100vh;
    display: flex;
    align-items: center;   
    padding-left: 8%;      
}

.about-content{
    max-width: 500px;      
}

.about h3{
    font-size: 2rem;
}

.about p{
    line-height: 1.8;
    margin-bottom: 25px;
    font-size: 1.1rem;
}
*/

.menu-toggle{
    position: fixed;
    top: 30px;
    right: 40px;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1000;
}

.menu-toggle span{
    display: block;
    height: 3px;
    background: white;
    margin: 5px 0;
    transition: 0.3s;
}

/* MENU caché */
.menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

/* MENU visible */
.menu.active{
    right: 0;
}

.menu ul{
    list-style: none;
    text-align: center;
}

.menu li{
    margin: 30px 0;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
