*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: Arial, sans-serif;

    background-color: #2f5bff;

    background-image: radial-gradient(black 6px, transparent 6px);
    background-size: 60px 60px;
}


.hero{
    height: 100vh; 
    display: flex;
    align-items: center; 
    padding-left: 8%;
}

.hero-text h1{
    font-size: 15rem; /* prénom */
    font-weight: bold;
}

.hero-text h2{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 5px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    width: 100%;
}

.project-item {
    border: 1px solid white; 
    height: 150px; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}


.project-item span {
    font-size: 14px;
    color: #ccc;
}
a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

.project-item {
    border: 1px solid white;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;
    text-decoration: none;

    transition: background 0.3s ease, color 0.3s ease;
}

.project-item:hover {
    background-color: #ffffff;
    color: #000000;
}

.project-item:hover span {
    color: #000000;
}
