*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.hero{
    height: 100vh; 
    display: flex;
    align-items: center; 
    padding-left: 8%;
}

.hero-text h1{
    font-size: 15rem; /* prénom */
    font-weight: bold;
}

.hero-text h2{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 5px;
}


/* SECTION a propo */
.about{
    min-height: 100vh;
    display: flex;
    align-items: center;   
    padding-left: 8%;      
}

.about-content{
    max-width: 500px;      
}

.about h3{
    font-size: 2rem;
}

.about p{
    line-height: 1.8;
    margin-bottom: 25px;
    font-size: 1.1rem;
}
